In [9]:
# CID CAPITULOS

import pandas as pd
import numpy as np


df = pd.read_csv("grupos.csv")
# header=None

# Change all data types to strings
df = df.astype(str)

def remove_line_breaks(string):
    """
    Remove line breaks from a string.

    Args:
        string (str): The input string.

    Returns:
        str: The cleaned string.
    """
    string = string.replace('\r\n', ' ').replace('\n', ' ')
    return string

df = df.applymap(remove_line_breaks)
df = df.replace('"', '', regex=True)

df[['codigo', 'descricao', 'descricao_breve']] = df['codigo;"descricao";"descricao_breve"'].str.split(';', expand=True)
df = df[['codigo', 'descricao', 'descricao_breve']]

df.to_csv('out.csv', index=False)

,codigo,descricao,descricao_breve
0,A00,Doenças infecciosas intestinais,Doenças infecciosas intestinais
1,A01,Doenças infecciosas intestinais,Doenças infecciosas intestinais
2,A02,Doenças infecciosas intestinais,Doenças infecciosas intestinais
3,A03,Doenças infecciosas intestinais,Doenças infecciosas intestinais
4,A04,Doenças infecciosas intestinais,Doenças infecciosas intestinais
...,...,...,...
2992,U86,Agentes bacterianos resistentes a antibióticos,Agentes bacterianos resistentes a antibióticos
2993,U87,Agentes bacterianos resistentes a antibióticos,Agentes bacterianos resistentes a antibióticos
2994,U88,Agentes bacterianos resistentes a antibióticos,Agentes bacterianos resistentes a antibióticos
2995,U89,Agentes bacterianos resistentes a antibióticos,Agentes bacterianos resistentes a antibióticos
2996,U99,CID 10ª Revisão não disponível,CID 10ª Revisão não disponível

In [47]:
# CID CAPITULOS

import pandas as pd
import numpy as np

df = pd.read_csv('grupos.csv')
                   #, index_col=0)  

# Change all data types to strings
df = df.astype(str)


def remove_line_breaks(string):
    """
    Remove line breaks from a string.

    Args:
        string (str): The input string.

    Returns:
        str: The cleaned string.
    """
    string = string.replace('\r\n', ' ').replace('\n', ' ')
    return string

df = df.applymap(remove_line_breaks)
df = df.replace('"', '', regex=True)

df

                   codigo;"descricao";"descricao_breve"
0     A00;Doenças infecciosas intestinais;Doenças in...
1     A01;Doenças infecciosas intestinais;Doenças in...
2     A02;Doenças infecciosas intestinais;Doenças in...
3     A03;Doenças infecciosas intestinais;Doenças in...
4     A04;Doenças infecciosas intestinais;Doenças in...
...                                                 ...
2992  U86;Agentes bacterianos resistentes a antibiót...
2993  U87;Agentes bacterianos resistentes a antibiót...
2994  U88;Agentes bacterianos resistentes a antibiót...
2995  U89;Agentes bacterianos resistentes a antibiót...
2996  U99;CID 10ª Revisão não disponível;CID 10ª Rev...

[2997 rows x 1 columns]

In [43]:
df

               codigo;"descricao"";""descricao_breve"""
0     "A00;""Doenças infecciosas intestinais"";""Doe...
1     "A01;""Doenças infecciosas intestinais"";""Doe...
2     "A02;""Doenças infecciosas intestinais"";""Doe...
3     "A03;""Doenças infecciosas intestinais"";""Doe...
4     "A04;""Doenças infecciosas intestinais"";""Doe...
...                                                 ...
2992  "U86;""Agentes bacterianos resistentes a antib...
2993  "U87;""Agentes bacterianos resistentes a antib...
2994  "U88;""Agentes bacterianos resistentes a antib...
2995  "U89;""Agentes bacterianos resistentes a antib...
2996  "U99;""CID 10ª Revisão não disponível"";""CID ...

[2997 rows x 1 columns]

In [24]:
import pandas as pd
import numpy as np

In [31]:
df = pd.read_excel('CID_capitulos.xlsx', sheet_name='grupos')
                   #, index_col=0)  

# Change all data types to strings
df = df.astype(str)
df

                   codigo;"descricao";"descricao_breve"
0     A00;"Doenças infecciosas intestinais";"Doenças...
1     A01;"Doenças infecciosas intestinais";"Doenças...
2     A02;"Doenças infecciosas intestinais";"Doenças...
3     A03;"Doenças infecciosas intestinais";"Doenças...
4     A04;"Doenças infecciosas intestinais";"Doenças...
...                                                 ...
2992  U86;"Agentes bacterianos resistentes a antibió...
2993  U87;"Agentes bacterianos resistentes a antibió...
2994  U88;"Agentes bacterianos resistentes a antibió...
2995  U89;"Agentes bacterianos resistentes a antibió...
2996  U99;"CID 10ª Revisão não disponível";"CID 10ª ...

[2997 rows x 1 columns]

In [15]:

def remove_line_breaks(string):
    """
    Remove line breaks from a string.

    Args:
        string (str): The input string.

    Returns:
        str: The cleaned string.
    """
    string = string.replace('\r\n', ' ').replace('\n', ' ')
    return string

df = df.applymap(remove_line_breaks)
df = df.replace('nan', '', regex=True)

In [16]:
df.to_csv('absenteismo.csv', index=False, encoding='utf-8', sep=';')

In [70]:
df = pd.read_excel('BDD_Imagem.xlsx')
                   #, index_col=0)  

# Change all data types to strings
df = df.astype(str)


def remove_line_breaks(string):
    """
    Remove line breaks from a string.

    Args:
        string (str): The input string.

    Returns:
        str: The cleaned string.
    """
    string = string.replace('\r\n', ' ').replace('\n', ' ')
    return string

df = df.applymap(remove_line_breaks)
df = df.replace('nan', '', regex=True)
df.to_csv('BDD_Imagem.csv', index=False, encoding='utf-8', sep=';')







df = pd.read_excel('Microdados_Topofmind.xlsx')
                   #, index_col=0)  

# Change all data types to strings
df = df.astype(str)


def remove_line_breaks(string):
    """
    Remove line breaks from a string.

    Args:
        string (str): The input string.

    Returns:
        str: The cleaned string.
    """
    string = string.replace('\r\n', ' ').replace('\n', ' ')
    return string

df = df.applymap(remove_line_breaks)
df = df.replace('nan', '', regex=True)
df.to_csv('Microdados_Topofmind.csv', index=False, encoding='utf-8', sep=';')

In [44]:
import pandas as pd

def remove_commas(s):
    return s.replace('"', '')

df = df.applymap(remove_commas)

In [48]:
df.to_csv('data.csv', index=False, encoding='ISO-8859-1')

In [15]:
def clean_string(string):
    """
    Remove leading and trailing whitespaces and quotes from a string.

    Args:
        string (str): The input string.

    Returns:
        str: The cleaned string.
    """
    # Remove leading and trailing whitespaces
    string = string.strip()

    # Define the characters to remove
    chars_to_remove = ["'", '"']

    # Remove any remaining quotes
    for char in chars_to_remove:
        while string.startswith(char) or string.endswith(char):
            string = string.strip(char)

    return string

In [17]:
df.ano.unique().tolist()

[2023, 2022, 2021]

In [14]:
df.to_csv('absenteismo.csv',sep="|")

In [ ]:
df = pd.read_excel('Absenteismo.xlsx')
                   #, index_col=0)  
df

In [ ]:
import pandas as pd

In [26]:
df = pd.read_csv('absenteismo.csv', sep="|")
                   #, index_col=0)  
df

,Unnamed: 0,ano,id,razao,setor,dr,en02,ap02,av01,av01_other,...,av09_1,av09_2,av09_3,av09_4,av09_5,av09_6,av09_7,av10,av13,av14
0,0,2023,231039,A. C. D. A. IMPORTAÇÃO E EXPORTAÇÃO LTDA,Comércio,AC,Sim,De acordo,Outro,Gerente de RH,...,NaN,NaN,NaN,NaN,Não sabe,NaN,Não sabe,10,NaN,Não
1,1,2023,231017,AÇOUGUE E MERCEARIA MESQUITA,Comércio,AC,Sim,De acordo,Outro,Gerente,...,NaN,NaN,NaN,NaN,Aumentou,NaN,NaN,10,NaN,Sim
2,2,2023,231008,ACRE FRIO,Serviços,AC,Sim,De acordo,Outro,Proprietário,...,Não se alterou,Não se alterou,Melhorou,NaN,Não se alterou,NaN,Não se alterou,10,NaN,Sim
3,3,2023,231027,ACRE PUBLICIDADE,Indústria,AC,Sim,De acordo,Outro,Administrador,...,NaN,NaN,NaN,NaN,Reduziu,NaN,Aumentou,9,NaN,Sim
4,4,2023,231059,ACRE SERVICE,Comércio,AC,Não,De acordo,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4920,4920,2021,212295,NaN,NaN,TO,Sim,De acordo,Proprietário/Sócio da empresa,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN,NaN
4921,4921,2021,212322,NaN,NaN,TO,Sim,De acordo,Supervisor Coordenador de área de Saúde e Segu...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN,NaN
4922,4922,2021,212358,NaN,NaN,TO,Sim,De acordo,Engenheiro/Gestor/Técnico de Segurança do Trab...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN,NaN
4923,4923,2021,212359,NaN,NaN,TO,Sim,De acordo,Profissional lotado no RH/Supervisor/Analista,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN,NaN
4924,4924,2023,232000,GC CONSTRUTORA LTDA - EPP,Construção,AP,Sim,De acordo,Outro,Assistente Administrativo,...,NaN,NaN,NaN,NaN,Não se alterou,Não se alterou,NaN,7,NaN,Sim

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('PIB_MUN_COMPLETO.xlsx')
                   #, index_col=0)

In [4]:
# Convert Index object to list of strings
col_names = df.columns.tolist()
print(col_names)

['Ano', 'Código da Grande Região', 'Nome da Grande Região', 'Código da Unidade da Federação', 'Sigla da Unidade da Federação', 'Nome da Unidade da Federação', 'CD_MUN', 'NM_MUN', 'Região Metropolitana', 'Código da Mesorregião', 'Nome da Mesorregião', 'Código da Microrregião', 'Nome da Microrregião', 'Código da Região Geográfica Imediata', 'Nome da Região Geográfica Imediata', 'Município da Região Geográfica Imediata', 'Código da Região Geográfica Intermediária', 'Nome da Região Geográfica Intermediária', 'Município da Região Geográfica Intermediária', 'Código Concentração Urbana', 'Nome Concentração Urbana', 'Tipo Concentração Urbana', 'Código Arranjo Populacional', 'Nome Arranjo Populacional', 'Hierarquia Urbana', 'Hierarquia Urbana (principais categorias)', 'Código da Região Rural', 'Nome da Região Rural', 'Região rural (segundo classificação do núcleo)', 'Amazônia Legal', 'Semiárido', 'Cidade-Região de São Paulo', 'Valor adicionado bruto da Agropecuária, \n\na preços correntes\n\n(R$ 1.000)', 'VAB_IND', 'Valor adicionado bruto dos Serviços,\n\na preços correntes \n\n- exceto Administração, defesa, educação e saúde públicas e seguridade social\n\n(R$ 1.000)', 'Valor adicionado bruto da Administração, defesa, educação e saúde públicas e seguridade social, \n\na preços correntes\n\n(R$ 1.000)', 'VAB', 'Impostos, líquidos de subsídios, sobre produtos, \n\na preços correntes\n\n(R$ 1.000)', 'Produto Interno Bruto, \n\na preços correntes\n\n(R$ 1.000)', 'PIB_PCT', 'Atividade com maior valor adicionado bruto', 'Atividade com segundo maior valor adicionado bruto', 'Atividade com terceiro maior valor adicionado bruto', 'PART_IND', 'desvio_padrao', 'diferenca_INDUSTRIA', 'mudanca_significativa', 'DIFF_IND', 'diferenca_PIBpct', 'DIFF_PIBpct']

In [5]:
# Replace unwanted characters with an empty string
#clean_col_names = [col_name.replace('\r\n', ' ', regex=True).replace('\n', ' ', regex=True) for col_name in col_names]


import re

clean_col_names = [re.sub(r'\r\n', ' ', col_name) for col_name in col_names]
clean_col_names = [re.sub(r'\n', ' ', col_name) for col_name in clean_col_names]
clean_col_names = [re.sub(r' ', '_', col_name) for col_name in clean_col_names]

df.columns = pd.Index(clean_col_names)

In [6]:
df.to_csv('PIB_MUN_COMPLETO.csv', sep=";", encoding='utf-8')

In [16]:
# Convert Index object to list of strings
col_names = df.columns.tolist()

# Replace unwanted characters with an empty string
clean_col_names = [col_name.replace('\r\n', ' ').replace('\n', ' ') for col_name in col_names]

# Convert list of strings back to Index object
df.columns = pd.Index(clean_col_names)

#print(df)

In [ ]:
#df.columns = df.columns.str.replace('\r\n', ' ').replace('\n', ' ')

In [7]:
df.to_csv('PIB_MUN_COMPLETO.csv', sep=";", encoding='utf-8', index=False)